<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h2>Hero Name: <%=@member_1_name%> </h2>
<h3>Hero Power: <%=@member_1_power%></h3>
<h3>Hero Biography: <%=@member_1_bio%></h3>

<h2>Hero Name: <%=@member_2_name%></h2>
<h3>Hero Power: <%=@member_2_power%></h3>
<h3>Hero Biography: <%=@member_2_bio%></h3>

<h2>Hero Name: <%=@member_3_name%></h2>
<h3>Hero Power: <%=@member_3_power%> </h3>
<h3>Hero Biography: <%=@member_3_bio%> </h3>



