<h1><%= @name %></h1> 

<h2>Team Motto: <%= @motto %></h2>

<% @members.each do |h| %>
  <h3>Hero Name: <%= h[:name] %></h3>
      Hero Power: <%= h[:power] %><br>
      Hero Biography: <%= h[:bio] %>
<% end %>